<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="over" [(opened)]="opened" (opened)="events.push('open!')"
               (closed)="events.push('close!')">
    <!--    <ul>-->
    <!--      <li>-->

    <!--        <button mat-button (click)="navigate('overzicht')">-->
    <!--          <i class="material-icons-outlined">home</i>-->
    <!--          Overzicht-->
    <!--        </button>-->
    <!--      -->
    <!--      </li>-->
    <!--      <li (click)="navigate('add_sensor')">-->
    <!--        <i class="material-icons"> add_circle_outline-->
    <!--        </i>-->
    <!--        <button mat-button (click)="navigate('add_sensor')"> Sensor toevoegen</button>-->
    <!--      </li>-->
    <!--      <li>-->
    <!--        <i class="material-icons-outlined"> settings_applications</i>-->
    <!--        <button mat-button (click)="navigate('settings')"> Instellingen</button>-->
    <!--      </li>-->
    <!--    </ul>-->

    <button class="icontextButton topbutton" mat-button (click)="navigate('overzicht')">
      <i class="material-icons-outlined">home</i>
      Overzicht
    </button>

    <button class="icontextButton" mat-button (click)="navigate('add_sensor')">
      <i class="material-icons"> add_circle_outline </i>
      Sensor toevoegen
    </button>

    <button class="icontextButton" mat-button (click)="navigate('settings')">
      <i class="material-icons-outlined"> settings_applications</i>
      Instellingen
    </button>

  </mat-sidenav>

  <mat-sidenav-content>
    <div class="sidenav-container">
      <button mat-button (click)="sidenav.toggle()">
        <i class="material-icons">
          menu
        </i>
      </button>
      <button class="iconButton" (click)="navigate('overzicht')">
        <i class="material-icons-outlined">home</i>
      </button>
      <button class="iconButton" (click)="navigate('add_sensor')">
        <i class="material-icons"> add_circle_outline </i>
      </button>
      <button class="iconButton" (click)="navigate('settings')">
        <i class="material-icons-outlined">settings_applications</i>
      </button>
    </div>
    <app-home></app-home>
  </mat-sidenav-content>

</mat-sidenav-container>


