

.form-container {
  width: 60%;
  margin: 0 auto;
}

mat-card{
  display: flex;
  justify-content: center;

}

h1 {
  font-family: 'Bungee', cursive;
  color: white;
  margin: 0!important;
  padding: 0!important;
  i {
    font-size: 1em;
  }
}


mat-label{
  width: 100%;
}
input{
  width:100%;
}

mat-form-field{
  width: 100%;
}

.mat-form-field-label {
  /*change color of label*/
  color: green !important;

}

mat-label{
  color: black;
}

::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: #172B4D !important;
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: #172B4D !important;;
}

button{
  background: #172B4D;
  color: white;
  font-family: 'Bungee', cursive;
}


textarea{
  background-color: #f2f2f2;
}
