<div class="form-container">


  <h1>
    <i class="material-icons"> add_circle_outline </i>
    Sensor toevoegen
  </h1>

  <mat-card>
    <form [formGroup]="checkoutForm">

      <div *ngIf="selectedFile">
        {{selectedFile.name}} is geselecteerd
      </div>

<!--        <mat-label for="sensor_image"> Afbeelding</mat-label>-->
<!--        <input mat-raised-button placeholder="" id="sensor_image" type="file" formControlName="sensor_image">-->
<!--        <mat-label for="file"> File </mat-label>-->
        <button type="button" mat-raised-button (click)="fileInput.click()">Voeg afbeelding van de sensor toe</button>
        <input hidden (change)="onFileSelected()" #fileInput type="file" id="file">


      <mat-form-field>
        <mat-label for="name"> Naam </mat-label>
        <input matInput placeholder="naam van de sensor" id="name" type="text" formControlName="name">
      </mat-form-field>

      <mat-form-field>
        <mat-label for="data_type">  Soort data </mat-label>
        <input matInput placeholder="Status van de sensor" id="data_type" type="text" formControlName="data_type">
      </mat-form-field>

      <mat-form-field>
        <mat-label for="lat">  Latitude </mat-label>
        <input matInput placeholder="Status van de sensor" id="lat" type="number" formControlName="lat">
      </mat-form-field>

      <mat-form-field>
        <mat-label for="lon">  Longitude </mat-label>
        <input matInput placeholder="Status van de sensor" id="lon" type="number" formControlName="lon">
      </mat-form-field>

      <mat-form-field>
        <mat-label for="description"> Beschrijving</mat-label>
        <textarea matInput id="description" placeholder="Beschrijving van de sensor">
        </textarea>
      </mat-form-field>

      <button mat-raised-button class="submit-button" type="submit">Opslaan</button>
    </form>
  </mat-card>
</div>
